@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
background-image:url("https://images.pexels.com/photos/4028822/pexels-photo-4028822.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
background-repeat: no-repeat;
background-size: cover;
backdrop-filter:inherit;

} */